.parent{
    display: flex;
}
h1{
    border:2px solid red;
    margin:10px;
    padding: 20px;
    
}

@media screen and (min-width:400px) and (max-width:700px) {
    h1{
        border:2px solid lightblue;
        background-color: purple;
        margin:10px;
        padding: 20px;
        
    }
}

